@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:wght@200&family=Noto+Sans:ital,wght@1,300&family=Pacifico&family=Poltawski+Nowy:wght@500&family=Poppins:wght@300&family=Quicksand&family=Raleway:ital,wght@0,500;1,400&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courgette&family=Josefin+Sans:wght@200&family=Noto+Sans:ital,wght@1,300&family=Pacifico&family=Poltawski+Nowy:wght@500&family=Quicksand&family=Raleway:ital,wght@0,500;1,400&family=Roboto:wght@700&family=Secular+One&display=swap');

$fonte-title:'Josefin Sans', sans-serif;
$fonte-secundaria:'Anton';

$cor-do-fundo:#F9DBBB;